<div class="mb-2">
    <div class="my-2">Предложения по обмену:</div>
    <div class="row border rounded-sm p-2 mb-5">
        <div class="col-md-6 d-flex justify-content-start align-items-center">
            <img class="rounded-circle width-45 mr-2 border" src="https://t.me/i/userpic/320/fu6cFx5hYNVDlhLPTKii7QUqGPaJmIDkj_n2SudOudlgZbtybbbGsDZIJXalCKfc.jpg" alt="">
            <div class="d-flex flex-column justify-content-start align-items-center">
                <span class="fa-2x">noxcho_inc</span>
                <span class="badge">123</span>
            </div>
        </div>

        <div class="col-md-3 d-flex justify-content-center align-items-center">
            <a href="#" class="btn btn-danger btn-sm">Все объявления</a>
        </div>

        <div class="col-md-3 d-flex justify-content-end align-items-center">
            <a href="#" class="btn btn-outline-success btn-sm">Подписаться</a>
        </div>
    </div>
</div>