<div class="page-share-icon  d-flex pt-10 pb-45">
    <span>Share:</span>
    <ul class="icon pl-15  d-flex">
        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-skype"></i></a></li>
        <li><a href="#"><i class="fas fa-rss"></i></a></li>
    </ul>
</div>