<div class="footer-menu pt-40 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="footer-widget">
                    <h4>Informatino</h4>
                    <ul class="footer-info">
                        <li><a href="about-page.html">About Us</a></li>
                        <li><a href="login-page.html">My Account</a></li>
                        <li><a href="about-page.html">Privacy Ploicy</a></li>
                        <li><a href="about-page.html"> Trems & Conditions</a></li>
                        <li><a href="about-page.html">Delivery Information</a></li>
                        <li><a href="about-page.html">Information</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="footer-widget">
                    <h4>Cusom Service</h4>
                    <ul class="footer-info">
                        <li><a href="about-page.html">About Us</a></li>
                        <li><a href="login-page.html">My Account</a></li>
                        <li><a href="about-page.html">Privacy Ploicy</a></li>
                        <li><a href="about-page.html"> Trems & Conditions</a></li>
                        <li><a href="about-page.html">Delivery Information</a></li>
                        <li><a href="about-page.html">Information</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="footer-widget">
                    <h4>My Account</h4>
                    <ul class="footer-info">
                        <li><a href="about-page.html">About Us</a></li>
                        <li><a href="login-page.html">My Account</a></li>
                        <li><a href="about-page.html">Privacy Ploicy</a></li>
                        <li><a href="about-page.html"> Trems & Conditions</a></li>
                        <li><a href="about-page.html">Delivery Information</a></li>
                        <li><a href="about-page.html">Information</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="footer-widget">
                    <h4>Extras</h4>
                    <ul class="footer-info">
                        <li><a href="about-page.html">About Us</a></li>
                        <li><a href="login-page.html">My Account</a></li>
                        <li><a href="about-page.html">Privacy Ploicy</a></li>
                        <li><a href="about-page.html"> Trems & Conditions</a></li>
                        <li><a href="about-page.html">Delivery Information</a></li>
                        <li><a href="about-page.html">Information</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>