<ul class=" d-flex">
    <li><a href="#"><i class="fab fa-cc-paypal" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fab fa-cc-stripe" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fab fa-cc-visa" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fab fa-cc-mastercard" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fab fa-cc-amex" aria-hidden="true"></i></a></li>
</ul>