{{ include('components/_full-banner.html.twig', {banners: {page: {full_banner: banners.all.bottom ?? null}}}) }}

<footer class="footer-area footer-area-2 footer-area-5 pt-30 ">
    <div class="footer-bottom pt-25">
        <div class="container">
            <div class="copyright d-inline-block ">
                <p>©CopyRight 2024 by <a href="https://t.me/noxcho_inc" target="_blank">Bubaev</a>. Все права зашищены.</p>
            </div>
            <div class="payment-card float-right">
            </div>
        </div>
    </div>
</footer>