<div class="deal-area deal-area-4 deal-area-5 deal-height position-relative pb-50 mt-50" style="background-image: url(https://html.themexplosion.com/moly/assets/img/product/product-bg-11.png);">
    <div class="container">

        <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-9 col-sm-12 offset-xl-1 offset-lg-1 offset-md-1 ">
                <div class="time-area">

                    <h2>Men T-Shirt Fashion <span>- 2019</span></h2>
                    <span class="pr-30">Phasellus vel elit efficitur, gravida libero sit amet, scelerisque mauris.</span>
                    <a href="shop-detalis-page.html" class="d-inline-block pl-20"> <i class="fa fa-plus" aria-hidden="true"></i> Discover Now________</a>
                </div>
            </div>
        </div>
    </div>
</div>
