<div class="blog-area blog-area-4">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title  ">
                    <h3 class="pb-5">
                        Последние новости
                    </h3>
                    <hr>
                </div>
            </div>
        </div>

    </div>
    <div class="container pl-0 pr-0">
        <div class="custom-row">
            <div class=" blog-active-4 pt-30">

                {{ render(controller('App\\Controller\\NewsController::lastNewsFromIndexPage')) }}

            </div>
        </div>
    </div>
</div>